.page-header {
  
  margin-bottom: $l-size;
  padding: $s-size 0;
  font-size:24px;font-weight: 700;
  color:$dark-blue;
  
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: 700;
  }
}
